@import "variables";
@import "particle";

body {
  color: #fff;
  .chat-container {
    margin-right: auto;
    margin-left: 20em;
    display: flex;
    .chat-main {
      position: absolute;
      display: flex;
      flex-direction: row;
      margin-top: 15em;
      .chat-sidebar {
        background-color: #fff;
        color: #000;
        margin-right: 10em;
      }
      .chat-messages {
        background-color: #fff;
        color: #000;
        width: 260%;
        height: 370%;
        border-radius: 15px;
        position: absolute;
      }
    }
  }
  .chat-form-container {
    position: absolute;
    #chat-form {
      justify-content: space-between;
      display: flex;
      width: 500px;
    }
  }
}
